/* <p> tag in javascript styles*/

p{
    position: relative;
    border-radius: 2px;
    border-width: 2px;
    border-style: ridge;
    border-color: cyan;
    color: white;



}
/*Header Styles*/

header{
    color: cyan;




}

.container{
    display: flex;
    flex-direction: row;

}
.items-center{
    width: 50%;

}
.button{
    white-space: nowrap;
    padding: 5px 5px;
    margin-left: 5px;
}

.type{
    white-space: nowrap;
    padding: 5px 5px;
    margin-left: 5px;
}