

/*Header Styles*/


.container{
    display: flex;
    flex-direction: row;

}
.items-center{
    width: 50%;

}
.button{
    white-space: nowrap;
    padding: 5px 5px;
    margin-left: 5px;
}

.type{
    white-space: nowrap;
    padding: 5px 5px;
    margin-left: 5px;
}
.icon{
    color: greenyellow;
}
.header-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
